.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 4px;
  padding: 2px;
}
.admin-panel-navigation{
  width:98%;
  padding:10px;
  margin:12px auto 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  background-color:#c2a054;
}
.navigation-links{
  min-width: 170px;
  padding:10px;
  background-color: #038674;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
}
.navigation-links:hover{
  color: #FFFFFF;
}
.active-tap{
  min-width: 170px;
  padding:10px;
  background-color: #038674;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
  box-shadow: -1px 1px 10px 1px rgba(0,0,0,.6);
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
}
.active-tap:hover{
  color: #FFFFFF;
}
@media screen and (max-width:904px){
  .admin-panel-navigation{
    flex-direction: column;
  }
  .navigation-links{
    min-width: 100%;
  }
  .active-tap{
    min-width: 92%;
  }
  
}