.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 4px;
  padding: 2px;
}
.admin-panel-navigation{
  width:98%;
  padding:10px;
  margin:12px auto 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  background-color:#c2a054;
}
.navigation-links{
  flex: 0 0 10%;
  padding:10px;
  background-color: #038674;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
}
.navigation-links:hover{
  color: #FFFFFF;
}
.active-tap{
  flex: 0 0 10%;
  padding:10px;
  background-color: #038674;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: center;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.active-tap:hover{
  color: #FFFFFF;
}