.student-details-main-container {
  width: 47%;
  min-height: 497px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  position: relative;
}

.settings-header {
  width: 100%;
  padding: 10px;
  background-color: #20aa69;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ratel-student-data-tap,
.joinnig-request-data-tap {
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #198754;
  padding: 10px;
  cursor: pointer;
}

.taps-shadow {
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, .6);
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.student-request-joinnig-info-main-container {
  width: 100%;
  height: 394px;
  position: relative;
  margin-top: 15px;
}

.requested-joinnig-student-table-wrapper {
  width: 100%;
  overflow: auto;
  height: 330px;
}

.requested-joinnig-student-table {
  width: 100%;
}

.requested-joinnig-student-table,
.requested-joinnig-student-table>tr,
.requested-joinnig-student-table>thead>tr>th,
.requested-joinnig-student-table>tbody>tr>td {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-align: center;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.requested-joinnig-student-table>thead>tr>th {
  border-top: 1px solid #dadada;
  background-color: #20aa69;
  color: #ffffff;
}

.requested-joinnig-student-table>thead>tr:nth-child(even) {
  background-color: #dadada;
}

.requested-joinnig-student-table>thead>tr>th:nth-child(6) {
  border-bottom: 1px solid #dadada;
}

.requested-joinnig-student-table>thead>tr:nth-child(6)>th {
  border-left: 1px solid #dadada;
}

.requested-joinnig-student-table>thead>tr:nth-child(6)>th:nth-child(2) {
  border: none;
}

.requested-joinnig-student-table-wrapper::-webkit-scrollbar {
  width: 15px;
}

.requested-joinnig-student-table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.requested-joinnig-student-table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.student-table-main-header {
  width: 100%;
  padding: 5px;
  background-color: #20aa69;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 6px;
}

.student-table-main-header>span {
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  text-transform: capitalize;
  flex: 0 0 30%;
}

.student-table-main-header>img {
  width: 30px;
  cursor: pointer;
  object-fit: contain;

}

.date-time-container-main {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(4, 0, 0, .6);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.close-date-time-container{
  color: #FFFFFF;
  position: absolute;
  top: 5px;
  left: 3px;
  cursor: pointer;
}

.days-hours-sessions-whol-container {
  width: 99%;
  height: 365px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 38px auto 0 auto;

}

.student-sessions-days,
.student-sessions-hours {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  overflow: auto;
  height: 29%;
  margin: 5px 0 5px 0;
}

.student-sessions-hours {
  height: 64%;
}

.student-sessions-days>span,
.student-sessions-hours>span {
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: center;
  color: #FFFFFF;
  background-color: #198754;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin: 0 3px 0 3px;
}

.table-wrapper {
  width: 100%;
  height: 84%;
  overflow: auto;
  position: relative;
}

.student-sessions-days>.table-wrapper {
  height: 105px;
}

.student-sessions-hours>.table-wrapper {
  height: 226px;
}

.student-session-date-time-table {
  width: 99%;
  margin: auto;

}

.student-session-date-time-table,
.student-session-date-time-table>thead>tr,
.student-session-date-time-table>tbody>tr>td,
.student-session-date-time-table>thead>tr>th {
  padding: 10px 6px 10px 6px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .5px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

.student-session-date-time-table>thead>tr {
  background-color: #20aa69;
  color: #ffffff;
}

.student-session-date-time-table>thead>tr>th {
  border-left: 1px solid #dadada;
}

.student-session-date-time-table>thead>tr>th:nth-child(1) {
  border-left: none;
}

.student-session-date-time-table>tbody>tr:nth-child(2n+2) {
  background-color: #20aa69;
  color: #FFFFFF;

}

.student-session-date-time-table>tbody>tr:nth-child(2n+2)>td {
  border-left: 1px solid #dadada;
  text-transform: capitalize;
}

.table-wrapper::-webkit-scrollbar {
  width: 15px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 70x;
  -webkit-border-radius: 70x;
  -moz-border-radius: 70x;
  -ms-border-radius: 70x;
  -o-border-radius: 70x;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.student-session-days-hours-img {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  object-fit: contain;
}
.table-wrapper > section:first-of-type{
  width:100%;
  height:100%;
  position: relative;
}
.table-wrapper > section:first-of-type > span{
  width:100%;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 75%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  color: #ffffff;
  border:1px solid #FFFFFF;
}
.btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.student-ratel-info-main-container {
  height: 100%;
}

.table-settings-container {
  width: 100%;
  margin:5px auto;
  background-color: #20aa69;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  position: relative;
}
.table-settings-container > section{
  flex: 0 0 22%;
  padding: 5px;
}
.table-settings-container > section:first-of-type{
  width: 100%;
  flex: 0 0 100%;
  padding: 0!important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #20aa69;
  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
}
.table-settings-container > section:first-of-type > *{
  flex: 0 0 33.33%;
  padding:5px;
  
}
/*
.table-settings-container > section:first-of-type > div:nth-child(2){
  height:109px;
}
.table-settings-container > section:first-of-type > div:nth-child(2) > label{
  width: 1px;
}
*/
.table-settings-container > section:first-of-type > div > label{
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
}
.table-settings-container > section:first-of-type > div >input{
  text-align: center;
}
.open-close-arrow-icon{
  font-size: 2rem;
  color: #FFFFFF;
  position: absolute;
  top:0;
  right: 0;
  cursor: pointer;
  display: block;
}

.table-settings-container > section > label {
  color: #FFFF;
  font-size: 1rem;
  text-align: left;
}
.table-settings-container > section > label:nth-of-type(2){
  text-align: center;
}
.table-settings-container > section > input , .table-settings-container > section > select {
  padding: 8px 8px;
  height: 40px;
}
.table-settings-container > section:nth-child(5){
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.table-settings-container > section > button {
  width:100%;
  border:1px solid #FFFFFF;
}

.show-more-session-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-end;
  flex-wrap: wrap;
}
.hide-more-session-info {
  display: none;
}

/*
.student-sessions-more-info> div {
  flex: 0 0 33.33%;
}
*/
.student-sessions-more-info>div>label,
.student-sessions-more-info>div>input[type="number"] {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF;
}

.student-sessions-more-info>div>input[type="number"] {
  outline: none;
  border: none;
  width: 100%;
  color: #000000;
}

.table-wrapper {
  width: 100%;
  height: 301px;
  overflow: auto;
  position: relative;
}

.student-session-info-table {
  width: 190%;
  margin: auto;
}

.student-session-info-table,
.student-session-info-table>tr,
.student-session-info-table>tbody>tr>td,
.student-session-info-table>thead>tr>th {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

.student-session-info-table>thead>tr {
  background-color: #20aa69;
  color: #ffffff;
  position: sticky;
  top: -1px;
}

.student-session-info-table>thead>tr>th {
  border-left: 1px solid #dadada;
}

.student-session-info-table>thead>tr>th:nth-child(1),
.student-session-info-table>thead>tr>th:nth-child(5) {
  border-right: 1px solid #dadada;
}

.student-session-info-table>tbody>tr:nth-child(even) {
  background-color: #dadada;
}

.table-wrapper::-webkit-scrollbar {
  width: 15px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.show-daysTimes-tooltip-prefs,
.show-daysTimes-tooltip-sessions {
  position: absolute;
  top: 18%;
  left: 52%;
  width: 45%;
  height: 43px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgba(4, 0, 0, 1);
  padding: 8px 37px;
}

.show-daysTimes-tooltip-sessions {
  left: 0%;
}

.show-daysTimes-tooltip>span,
.show-daysTimes-tooltip-sessions>span {
  color: #FFFFFF;
  line-height: 1.5;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;

}

.show-daysTimes-tooltip::after {
  content: "";
  position: absolute;
  top: -49%;
  left: 83%;
  margin-top: -4px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent rgba(4, 0, 0, 1) transparent;

}

.show-daysTimes-tooltip-sessions::after {
  left: 7%
}

.empty-data-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  object-fit: contain;
  display: block;
}

@media screen and (max-width:1200px) {
  .student-details-main-container {
    width: 100%;
    order: 1;
    margin-top: 50px;
  }
  .table-settings-container > section{
    flex: 0 0 19%;
  }
  @media screen and (max-width:586px) {
    .table-settings-container > section{
      flex: 0 0 40%;
    }
    .student-session-info-table {
      width: 480%;
    }
    @media screen and (max-width:345px) {
      .show-more-session-info{
        height:109px;
      }
    }
  }
}