.messages-main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.messages-icon-container{
  width:110px;
  height:110px;
  border-radius: 50%;
  position:absolute;
  top:0;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.messages-icon-container > img {
  display:block;
  margin: auto;
  margin: 26px auto;
}
.messages-main > div+div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.all-messages-main-container,.messages-content-main-container{
    flex: 0 0 65%;
    height:471px;
    background: #FFFFFF;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
.messages-content-main-container{
    flex: 0 0 33%;
    align-self: center;
    height:300px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.messages-content-main-container > img{
  width:32%;
}
.msg-content{
  font-family: 'Times New Roman', Times, serif;
  text-transform:capitalize;
  text-align: justify;
  color: #000000;
  line-height: 1.5;
  letter-spacing: .5px;
  font-size: 1.2rem;
}
.table-settings-container {
    width: 99%;
    margin: auto;
    background-color: #c2a054;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    margin-bottom: 25px;
  }
  .table-settings-container > label {
    flex: 0 0 6%;
    color: #FFFFFF;
    text-align: left;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
  }
  .table-settings-container > input , .table-settings-container > select{
    flex: 0 0 20%;
  }
  .table-settings-container > select{
    cursor: pointer;
  }
  .table-settings-container > button {
    flex: 0 0 15%;
  }
  .table-wrapper {
    width: 99%;
    height: 83%;
    overflow: auto;
    position: relative;
  }
  .messages-table {
    width: 99%;
    margin: auto;
  }
  .messages-table,
  .messages-table > tr,
  .messages-table > tbody > tr > td,
  .messages-table > thead > tr th {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5px;
    border:none;
  }
  .messages-table > thead > tr {
    background-color: #c2a054;
    color: #ffffff;
    position: sticky;
    top: -1px;
  }
  .messages-table > thead > tr > th{
    border-left: 1px solid #dadada;
  }
  
  .messages-table > thead > tr >  th:nth-child(1),.messages-table > thead > tr >  th:nth-child(5){
    border-right: 1px solid #dadada;
  }
  
  .messages-table > tbody > tr:nth-child(even) {
    background-color: #dadada;
  }
  .messages-table > tbody > tr:hover{
    background-color:#c2a054;
    color:#FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    cursor: pointer;
  }
  .table-wrapper::-webkit-scrollbar {
    width: 15px;
  }
  .table-wrapper::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  
  .table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 70px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #038674;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  .btn {
    width: 35%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 8px;
    background-color: #038674;
    margin-top: 20px;
    color: #ffffff;
  }
  .disabled-btn {
    width: 35%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 8px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #666666;
    opacity: 0.3;
    cursor:not-allowed !important;
  }
  .no-result{
    position: absolute;
    top:50%;
    left:50%;
    display: block;
    object-fit: cover;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }
  .pagination-container{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .pagination-container > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pagination-container > ul > li:not(.pages-separator){
    flex: 0 0 39px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #dadada;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    background:#038674;
    color: #FFFFFF;
  }
  .pages-separator{
    flex: 0 0 39px;
    height: 46px;
    cursor: auto;
    color: #FFFFFF;
    background-color: #c2a054;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 1px solid #dadada;
    margin: 10px;
    border-radius: 5px;
    line-height: 1.5;
    box-sizing: border-box;
  }
  .pagination-container > ul > li:hover:not(.pages-separator){
    background-color: #c2a054 !important;
    transform: scale(1.1,1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFFFFF;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
  }
  .pagination-container > ul > .btn {
    flex: 0 0 35px;
    height:46px;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #dadada;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    background-color: #038674;
    color:#FFFFFF;
  }
  .btn > img{
    display: block;
    margin: auto;
    width:20px;
    object-fit: contain;
  }