.messages-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.messages-icon-container {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.messages-icon-container>img {
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.messages-main>div+div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.all-messages-main-container,
.messages-content-main-container {
  flex: 0 0 65%;
  min-height: 485px;
  background: #FFFFFF;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}

.messages-content-main-container{
  flex: 0 0 33%;
  align-self: center;
  min-height: 485px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.msg-content {
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  text-align: justify;
  color: #000000;
  line-height: 1.5;
  letter-spacing: .5px;
  font-size: 1.2rem;
}

.table-settings-container {
  width: 100%;
  margin: auto;
  background-color: #20aa69;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-bottom: 25px;
}
.table-settings-container > section{
  flex: 0 0 33.33%;
  padding: 5px;
}
.table-settings-container > section > label {
  color: #FFFF;
  font-size: 1rem;
  text-align: left;
}
.table-settings-container > section > label:nth-of-type(2){
  text-align: center;
}
.table-settings-container > section > input , .table-settings-container > section > select {
  padding: 8px 8px;
  height: 40px;
}
.table-settings-container > section:nth-child(3){
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.table-settings-container > section > button {
  
  width:49%;
  border:1px solid #FFFFFF;
}

.table-wrapper {
  width: 100%;
  height: 352px;
  overflow: auto;
  position: relative;
}

.messages-table {
  width: 100%;
  margin: auto;
}

.messages-table,
.messages-table>tr,
.messages-table>tbody>tr>td,
.messages-table>thead>tr th {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .5px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

.messages-table>thead>tr {
  background-color: #20aa69;
  color: #ffffff;
  position: sticky;
  top: -1px;
}

.messages-table>thead>tr>th {
  border-left: 1px solid #dadada;
}

.messages-table>thead>tr>th:nth-child(1),
.messages-table>thead>tr>th:nth-child(5) {
  border-right: 1px solid #dadada;
}

.messages-table>tbody>tr:nth-child(even) {
  background-color: #dadada;
}

.messages-table>tbody>tr:hover {
  background-color: #20aa69;
  color: #FFFFFF;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  cursor: pointer;
}

.table-wrapper::-webkit-scrollbar {
  width: 15px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  margin-top: 20px;
  color: #ffffff;
  border:1px solid #FFFFFF;
}

.disabled-btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #666666;
  opacity: 0.3;
  cursor: not-allowed !important;
}

.no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.empty-data-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  object-fit: contain;
  display: block;
}

.pagination-container {

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-container>ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-container>ul>li:not(.pages-separator) {
  flex: 0 0 39px;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background: #198754;
  color: #FFFFFF;
}

.pages-separator {
  flex: 0 0 39px;
  height: 46px;
  cursor: auto;
  color: #FFFFFF;
  background-color: #198754;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  line-height: 1.5;
  box-sizing: border-box;
}

.pagination-container>ul>li:hover:not(.pages-separator) {
  background-color: #20aa69 !important;
  transform: scale(1.1, 1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #FFFFFF;
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
}

.pagination-container>ul>.btn {
  flex: 0 0 35px;
  height: 46px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #198754;
  color: #FFFFFF;
}

.btn>img {
  display: block;
  margin: auto;
  width: 20px;
  object-fit: contain;
}

.alert {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
  position: fixed;
  top: 100px;
  right: 11px;
  z-index: 1500;
}

.alert>img {
  display: block;
  margin: auto;
  width: 35%;
  object-fit: scale-down;
}

.alert>span {
  display: block;
  width: 100%;
  font-size: 1rem;
  letter-spacing: .5px;
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  clear: both;
}
.warning-alert{
  padding:15px;
  width:410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.warning-alert > section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding:5px;
}
.warning-alert > section:nth-child(2){
  justify-content: flex-start;
  margin: auto;
}
.warning-alert > section:nth-child(2) > *{
  margin-left: 5px;
  color: #198754;
 /* padding-left: 12px;*/
}
.warning-alert > section > span{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
}
.btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.warning-alert > section > .btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.loading-deletion-spiner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-deletion-spiner-container > section , .loading-deletion-spiner-container > span{
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loading-deletion-spiner-container > span{
  color: #000000;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
@media screen and (max-width:1200px) {
  .messages-main>div+div {
    flex-direction: column;
  }
  .all-messages-main-container {
    width: 99%;
    margin: auto;
  }

  .messages-content-main-container {
    width: 99%;
    margin: auto;
    order: 2;
    margin-top: 85px;
  }

  @media screen and (max-width:586px) {
    .table-settings-container > section{
      flex: 0 0 50%;
    }
    .table-settings-container > section:nth-child(3){
      flex: 0 0 100%;
      height:50px;
    }

    .btn {
      width: 100%;
    }

    .messages-table {
      width: 289%;
    }

    .alert {
      width: 279px;
    }

    .alert>img {
      width: 35%;
    }
    .warning-alert{
      padding:1px;
    }
    .warning-alert > section > span{
      padding-top: 22px;
    }
    .warning-alert > section > .btn{
      width:45%;
      padding:5px;
    }
    .pagination-container>ul>li {
      flex: 0 0 29px !important;
      padding: 5px !important;
      height: 34px;
      margin: 7px !important;
    }

    .pagination-container>ul>button {
      width: 29px !important;
      padding: 5px !important;
      height: 34px !important;
      flex: 0 !important;
    }

    .pages-separator {
      position: relative;
    }

    .pages-separator>span {
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}