.no-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
.no-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
.wider-board{
    width: 80%;
    max-width: 750px;
}

.icons {
  font-size: 36px;
  color: "#121a24";
}
.labels {
  display: initial;
  width: 100%;
  text-align: center;
}
.sideBtn {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  outline: 1px solid #eff3f5;
  align-items: start;
  padding-left: 8;
  pointer-events: auto;
}

@media screen and (max-width: 759px) {
  .icons {
    font-size: 24px;
  }
  .labels {
    display: none;
  }
}
