.instructor-main-container{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
}
.instructor-main-container > div+div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.instructor-data-container {
  width: 53%;
  min-height: 471px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.table-settings-container {
  width: 100%;
  margin: auto;
  background-color: #20aa69;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.table-settings-container > section{
  flex: 0 0 33.33%;
  padding: 5px;
}
.table-settings-container > section > label {
  color: #FFFF;
  font-size: 1rem;
  text-align: left;
}
.table-settings-container > section > input , .table-settings-container > section > select {
  padding: 8px 8px;
  height: 40px;
}
.table-settings-container > section:nth-child(3){
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.table-settings-container > section:nth-child(2){
  text-align: center;
  height: 87px;
  display: flex;
  align-items: flex-end;
}
.table-settings-container > section > button {
  
  width:49%;
  border:1px solid #FFFFFF;
}
.table-wrapper {
  width: 100%;
  height: 348px;
  overflow: auto;
  position: relative;
}
.instructor-table {
  width: 205%;
  margin: auto;
}
.instructor-table,
.instructor-table > tr,
.instructor-table > tbody > tr >  td,
.instructor-table > thead > tr >  th {
  padding:10px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

.instructor-table > thead > tr {
  background-color: #20aa69;
  color: #ffffff;
  position: sticky;
  top: -1px;
}
.instructor-table > thead > tr > th {
  border-left: 1px solid #dadada;
}
.instructor-table > tbody > tr:nth-child(even) {
  background-color: #dadada;
}
.instructor-table > tbody > tr:hover {
  background-color: #20aa69;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.table-wrapper::-webkit-scrollbar {
  width: 15px;
}
.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}
.btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  margin-top: 20px;
  color: #ffffff;
  border:1px solid #FFFFFF;
}
.available-img,.absence-img{
  display: block;
  margin: auto;
  width:20%;
}
.absence-img{
  width:20%;
}
.online-sessions,.offline-instructor-sessions{
  width:20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0FFF95;
  margin: auto;
}
.offline-instructor-sessions{
  background-color: #E8222D;
}
.no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.errors {
  border-color: #f6003c !important;
}
.errors:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 0, 60, 0.25) !important;
  border-color: #f6003c !important;
}
.pagination-container{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-container > ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination-container > ul > li:not(.pages-separator){
  flex: 0 0 39px;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background:#198754;
  color: #FFFFFF;
}
.pages-separator{
  flex: 0 0 39px;
  height: 46px;
  cursor: auto;
  color: #FFFFFF;
  background-color: #198754;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  line-height: 1.5;
  box-sizing: border-box;
}
.pagination-container > ul > li:hover:not(.pages-separator){
  background-color:#20aa69  !important;
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #FFFFFF;
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
}
.pagination-container > ul > .btn {
  flex: 0 0 35px;
  height:46px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #198754;
  color:#FFFFFF;
}
.btn > img{
  display: block;
  margin: auto;
  width:20px;
  object-fit: contain;
}
.btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:1200px) {
  .instructor-main-container > div+div{
    flex-direction: column;
  }
  .instructor-data-container{
    width:100%;
  }
}
@media screen and (max-width:486px) {
  .pagination-container > ul > li {
    flex: 0 0 29px !important;
    padding: 5px !important;
    height: 34px;
    margin: 7px !important;
    }
    .pagination-container > ul > button{
      width:29px !important;
      padding: 5px !important;
      height: 34px !important;
      flex: 0 !important;
    }
    .pages-separator{
      position: relative;
    }
    .pages-separator > span{
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}
@media screen and (max-width:500px) {
  .instructor-data-container{
    height:835px;
  }
.table-settings-container > section{
  flex: 0 0 50%;
}
.table-settings-container > section:nth-child(3){
  flex: 0 0 100%;
  height:50px;
}
.table-wrapper{
    height:67%;
}
  
}