.instructor-data-container {
  width: 53%;
  height: 471px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.table-settings-container {
  width: 99%;
  margin: auto;
  background-color: #c2a054;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-bottom: 25px;
}
.table-settings-container > label {
  flex: 0 0 5%;
}
.table-settings-container > input {
  flex: 0 0 25%;
}
.table-settings-container > select{
  flex:0 0 25%;
}
.table-settings-container > button {
  flex: 0 0 20%;
}
.table-wrapper {
  width: 99%;
  height: 83%;
  overflow: auto;
  position: relative;
}
.instructor-table {
  width: 205%;
  margin: auto;
}
.instructor-table,
.instructor-table > tr,
.instructor-table > tbody > tr >  td,
.instructor-table > thead > tr >  th {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.5px;
  border: none;
}
.instructor-table > tbody > tr > td > span > span , .instructor-table > tbody > tr > td > span {
  display: block;
  margin:20px auto;
}

.instructor-table > thead > tr {
  background-color: #c2a054;
  color: #ffffff;
  position: sticky;
  top: -1px;
}
.instructor-table > thead > tr > th {
  border-left: 1px solid #dadada;
}
.instructor-table > thead > tr > th:nth-child(1) {
  border-left: none;
}
.instructor-table > tbody > tr:nth-child(even) {
  background-color: #dadada;
}
.instructor-table > tbody > tr:hover {
  background-color: #c2a054;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.table-wrapper::-webkit-scrollbar {
  width: 20px;
}
.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #038674;
}
.btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #038674;
  margin-top: 20px;
  color: #ffffff;
}
.available-img,.absence-img{
  display: block;
  margin: auto;
  width:40%;
}
.absence-img{
  width:25%;
}
.online-sessions,.offline-instructor-sessions{
  width:30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0FFF95;
  margin: auto;
}
.offline-instructor-sessions{
  background-color: #E8222D;
}
.no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.errors {
  border-color: #f6003c !important;
}
.errors:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 0, 60, 0.25) !important;
  border-color: #f6003c !important;
}
