.student-user-data-container {
  width: 50%;
  min-height: 497px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.table-settings-container {
  width: 100%;
  margin: auto;
  background-color: #20aa69;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.table-settings-container > section{
  flex: 0 0 33.33%;
  padding: 5px;
}
.table-settings-container > section > label {
  color: #FFFF;
  font-size: 1rem;
  text-align: left;
}
.table-settings-container > section > label:nth-of-type(2){
  text-align: center;
}
.table-settings-container > section > input , .table-settings-container > section > select {
  padding: 8px 8px;
  height: 40px;
}
.table-settings-container > section:nth-child(3){
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.table-settings-container > section > button {
  
  width:49%;
  border:1px solid #FFFFFF;
}
.table-wrapper {
  width: 100%;
  height: 365px;
  overflow: auto;
  position: relative;
}

.student-accounts-table {
  width: 100%;
  margin: auto;

}

.student-accounts-table,
.student-accounts-table>tr,
.student-accounts-table>tbody>tr>td,
.student-accounts-table>thead>tr>th {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .5px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

.student-accounts-table>tbody>tr>td:nth-child(3) {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.student-accounts-table>thead>tr {
  background-color: #20aa69;
  color: #ffffff;
  position: sticky;
  top: -1px;
}

.student-accounts-table>thead>tr>th {
  border-left: 1px solid #dadada;
}

.student-accounts-table>tbody>tr:nth-child(even) {
  background-color: #dadada;
}

.student-accounts-table>tbody>tr:hover {
  background-color: #20aa69;
  color: #FFFFFF;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  cursor: pointer;
}

.table-wrapper::-webkit-scrollbar {
  width: 15px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.btn {
  width: 25%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  margin-top: 20px;
  color: #ffffff;
}
.btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.disabled-btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #666666;
  opacity: 0.3;
  cursor: not-allowed !important;

}

.setting-icon-hidden {
  display: inline;
  cursor: pointer;
  float: right;
}

.dime-table {
  width: 100%;
  height: 100%;
  background-color: rgba(4, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.setting-student-status_instructor-container {
  width: 50%;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.student-sessions-days-hours {
  width: 95%;
  height: 446px;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  /*margin: 10px auto 10px auto;
  */
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.student-sessions-days-hours>form>span:nth-child(1)+div>div {
  width: calc(100%/7);
  flex: 0 0 14%;
}

.student-sessions-days-hours>form>span:nth-child(1)+div>div>div {

  margin: 24px;
}

.student-sessions-days-hours::-webkit-scrollbar {
  width: 15px;
}

.student-sessions-days-hours::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.student-sessions-days-hours::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.days-check-box-container,
.hours-check-box-container,
.programs-check-box-container {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  margin: 15px 0 1px 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hours-check-box-container{
  justify-content: flex-start;
}

.hours-check-box-container>div {
  width: 33.33%;
}

.days-check-box-container>div,
.hours-check-box-container>div,
.programs-check-box-container>div {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-align: center;

}

.days-check-box-container>div>check,
.hours-check-box-container>div>check,
.programs-check-box-container>div>check {
  display: block;
  margin: auto;
}

.days-hour-session-alert-validate {
  width: 100%;
  height: 60px;
  padding: 10px;
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #FA0026;
  border-radius: 0.375rem;
}

.days-hour-session-alert-validate>span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;
  color: #FFFFFF;
  line-height: 1.5;
  padding-left: 5px;
  width: 100%;
  text-align: center;
}

.colors-section-keys-whole-container {
  width: 100%;
  min-height: 160px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #dadada;
  border-radius: 0.375rem;
  margin-top: 16px;
}

.colors-section-keys-whole-container>div {
  flex: 0 0 25%;
  padding: 10px;
}

.colors-section-keys-whole-container>div>span {
  width: 100%;
  margin: 20px auto 20px auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  display: block;
}

.colors-section-keys-whole-container>div>span:first-of-type {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.close-dime {
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  right: 1%;
  top: 0%;
}

.close-dime:hover {
  color: #198754;
}

.alert {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
  position: fixed;
  top: 100px;
  right: 11px;
  z-index: 1500;
}

/*
.cancelled-action-alert{
  width: 27%;
  height: 124px;
  top: 41.3%;
  left: 85.6%;
}
*/
.alert>img {
  display: block;
  margin: auto;
  width: 35%;
  object-fit: scale-down;
}

.alert>p {
  font-weight: bold;
  text-align: center;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
}

.alert>p>span {
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: .5px;
  word-spacing: 1px;
  text-align: justify;
  margin: auto;
  font-family: 'Times New Roman', Times, serif;
  color: #198754;
  text-align: center;
}

.alert>span {
  display: block;
  width: 100%;
  font-size: 1rem;
  letter-spacing: .5px;
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  clear: both;
}
.warning-alert{
  padding:15px;
  width:410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.warning-alert > section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding:5px;
}
.warning-alert > section:nth-child(2){
  justify-content: flex-start;
  margin: auto;
}
.warning-alert > section:nth-child(2) > *{
  margin-left: 5px;
  color: #198754;
 /* padding-left: 12px;*/
}
.warning-alert > section > span{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
}
.warning-alert > section > button{
  width:135px !important;
}
.warning-alert > section > .btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.empty-data-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  object-fit: contain;
  display: block;
}

.no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.errors {
  border-color: #f6003c !important;
}

.errors:focus {
  box-shadow: 0 0 0 0.25rem rgba(246, 0, 60, .25) !important;
  border-color: #f6003c !important;

}

@media screen and (max-width:1200px) {
  .student-user-data-container {
    width: 100%;
  }

  .student-accounts-table>tbody>tr>td:nth-child(3) {
    width: 100%;
  }

  .table-settings-container>select:nth-last-of-type(1) {
    margin-bottom: 5px;
  }

  @media screen and (max-width:586px) {
    .table-settings-container > section{
      flex: 0 0 50%;
    }
    .table-settings-container > section:nth-child(3){
      flex: 0 0 100%;
      height:50px;
    }
    .student-accounts-table {
      width: 219%;
    }

    .btn{
      width:100%;
      margin: 5px 0 5px 0;
    }

    .days-check-box-container>div {
      width: 78px !important;
      margin: auto;
    }

    .student-sessions-days-hours>form>span:nth-child(1)+div>div {
      width: calc(100%/7);
      flex: 0 0 27%;

    }

    .colors-section-keys-whole-container {
      flex-wrap: wrap;
    }

    .colors-section-keys-whole-container>div {
      flex: 0 0 50%;
    }

    .student-sessions-days-hours>form>span:nth-child(1)+div>div>div {
      margin: 5px;
    }

    .days-check-box-container>div {
      padding: 2px;
    }

    .setting-student-status_instructor-container {
      width: 95%;
    }

    .setting-student-status_instructor-container>form>button {
      margin-top: 10px !important;
    }

    .alert {
      width: 245px;
    }

    .alert>img {
      width: 35%;
    }
    .warning-alert{
      padding:1px;
    }
    .warning-alert > section > span{
      padding-top: 22px;
    }
    .warning-alert > section >button{
      width:45% !important;
      padding:5px;
    };
  }

  .pagination-container>ul>li {
    flex: 0 0 29px !important;
    padding: 5px !important;
    height: 34px;
    margin: 7px !important;
  }

  .pagination-container>ul>button {
    width: 29px !important;
    padding: 5px !important;
    height: 34px !important;
  }

  .pages-separator {
    position: relative;
  }

  .pages-separator>span {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}