.student-user-data-container {
    width: 50%;
    height: 471px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
  }
  .table-settings-container {
    width: 99%;
    margin: auto;
    background-color: #c2a054;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    margin-bottom: 25px;
  }
  .table-settings-container > label {
    flex: 0 0 15%;
  }
  .table-settings-container > input {
    flex: 0 0 30%;
  }
  .table-settings-container > button {
    flex: 0 0 25%;
  }
  .table-wrapper {
    width: 99%;
    height: 83%;
    overflow: auto;
    position: relative;
  }
  .student-accounts-table {
    width: 99%;
    margin: auto;
   
  }
  .student-accounts-table,
  .student-accounts-table>tr,
  .student-accounts-table > tbody > tr > td,
  .student-accounts-table > thead > tr > th {
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    letter-spacing: .5px;
    border:none;
  }
  .student-accounts-table > thead > tr {
    background-color: #c2a054;
    color: #ffffff;
    position: sticky;
    top: -1px;
  }
  .student-accounts-table > thead > tr >  th{
    border-left: 1px solid #dadada;
  }
  .student-accounts-table > thead > tr >  th:nth-child(1){
    border-left: none;
  }
  .student-accounts-table > tbody > tr:nth-child(even) {
    background-color: #dadada;
  }
  .student-accounts-table > tbody > tr:hover{
    background-color:#c2a054;
    color:#FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    cursor: pointer;
}
  .table-wrapper::-webkit-scrollbar {
    width: 20px;
  }
  
  .table-wrapper::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  
  .table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #038674;
  }
  .btn {
    width: 35%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 8px;
    background-color: #038674;
    margin-top: 20px;
    color: #ffffff;
  }
  .disabled-btn {
    width: 35%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 8px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #666666;
    opacity: 0.3;
    cursor: not-allowed !important;

  }
.setting-icon-hidden{
    display: inline;
    cursor: pointer;
    float: right;
}
.dime-table{
  width: 100%;
  height: 100%;
  background-color: rgba(4,0,0,.8);
  position: absolute;
  top:0;
  left:0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.setting-student-status_instructor-container{
  width:50%;
  padding:10px;
  margin: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.student-sessions-days-hours{
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;

}
.days-check-box-container , .hours-check-box-container,.programs-check-box-container {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  margin: 15px 0 1px 0;
  background-color: #FFFFFF;

}
.hours-check-box-container >  div{
  width: 33.33%;
}
.days-check-box-container > div , .hours-check-box-container >  div ,.programs-check-box-container > div{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-align: center;

}
.days-check-box-container > div > check , .hours-check-box-container > div > check , .programs-check-box-container > div > check{
  display: block;
  margin: auto;
}
.close-dime{
  color: #FFFFFF;
  cursor: pointer;
}
.close-dime:hover{
  color: #038674;
}
.alert{
  width:30%;
  padding:15px;
  background: #FFFFFF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.alert >  img{
  width:33%;
  display: block;
  object-fit: cover;
  margin: auto;
}
.alert > span{
  font-size:1rem;
  text-transform: capitalize;
  letter-spacing: .5px;
  word-spacing: 1px;
  text-align: center;
  margin: auto;
}
.alert > span:nth-child(2){
  color:#038674;
  font-weight: bold;
}
.no-result{
  position: absolute;
  top:50%;
  left:50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.errors{
  border-color: #f6003c !important;
}
.errors:focus{
box-shadow:   0 0 0 0.25rem rgba(246,0,60,.25) !important;
border-color: #f6003c !important;

}