.working-days,.working-hours{
    width:99%;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    margin:10px 0 10px 0;
    flex:0 0 31%;
    border:1px solid #dadada;
}
.working-hours{
    margin:0 0 10px 0;
    height:49%;
}

.table-wrapper {
    width: 99%;
    height: 83%;
    overflow: auto;
    position: relative;
  }
  .table-wrapper:last-of-type{
    height: 98%;
  }
  .instructor-working-date-time-table {
    width: 99%;
    margin: auto;
   
  }
  .instructor-working-date-time-table,
  .instructor-working-date-time-table > thead > tr,
  .instructor-working-date-time-table > tbody > tr >  td,
  .instructor-working-date-time-table > thead > tr >  th {
    padding:10px 6px 10px 6px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5px;
    border:none;
    font-family: 'Times New Roman', Times, serif;
  }
  .instructor-working-date-time-table > thead > tr {
    background-color: #c2a054;
    color: #ffffff;
  }
  .instructor-working-date-time-table > thead > tr >  th{
    border-left: 1px solid #dadada;
  }
  .instructor-working-date-time-table > thead > tr >  th:nth-child(1){
    border-left: none;
  }
  .instructor-working-date-time-table > tbody > tr:nth-child(2n+2) {
    background-color:#c2a054;
    color: #FFFFFF;
  
  }
  .instructor-working-date-time-table > tbody > tr:nth-child(2n+2) > td{
    border-left: 1px solid #dadada;
    text-transform: capitalize;
  }
  .table-wrapper::-webkit-scrollbar {
    width: 15px;
  }
  
  .table-wrapper::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  
  .table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 70px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #038674;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  .instructor-working-days-hours-img{
    width:30px;
    height:30px;
    display:block;
    margin: auto;
    object-fit: contain;
  }