.add-post-main-container {
  align-self: flex-start;
  align-items: flex-start;
  width: 98%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* padding: 20px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:start;
  flex-wrap: wrap;
}
.add-post-main-container-center{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.add-post-main-container > .image-posting-settings-container{
  width:30%;
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*
  position: sticky;
  top: 90px;
  right: 10px;
  */
}
.post-image-area {
    height: 259px;
    width:100%;
    border:1px solid #dadada;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.image-post{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.post-paragraph-area {
  height: 150px;
}
.button-container {
  margin-top:36px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  width: 109px;
  height: 40px;
  text-align: center;
  text-transform: capitalize;
  background-color: #198754;
  padding: 8px;
  margin: 21px 0 0 0;
}
.button-container:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.button-container > button {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}
.button-group > button {
  width: 100px !important;
  height: 30px !important;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
}
.btn {
  width: 10%;
  min-width: max-content;

  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 16px;
  background-color: #198754;
  margin-top: 20px;
  color: #ffffff;
  float: right;
}
.btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.clear-btn {
  padding:8px;
  width: 109px;
  height: 40px;
}
.post-title-content-container{
  flex:0 0 70%;
  padding: 20px;
}
.posting-button-container{
  width:100%;
  padding:20px;
  min-width: max-content;
}
.btn-post-image-settings{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.post-alert-container,.post-alert-faild-container{
  width:300px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#FFFFFF;
  position: fixed;
  top: 14%;
  right:15px;
  color: #FFFFFF;
  z-index:1500;
}
.post-alert-faild-container{
  width: 289px;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #FFFFFF;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.post-alert-container >  img , .post-alert-faild-container > img{
  display: block;
  margin: auto;
  width:35%;
  object-fit: scale-down;
}
.post-alert-faild-container > img{
  float: right;
}
.post-alert-container >  span , .post-alert-faild-container > span{
  display: block;
  width: 100%;
  font-size: 1rem;
  letter-spacing: .5px;
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  clear: both;
}
.post-alert-faild-container >  button{
  margin: auto;
  display: block;
  background-color: #198754 !important;
  color: #FFFFFF !important;
  width:40%;
  outline: none;
  border: none;
  margin-top: 55px;
  margin-right: 7px;
}
@media screen and  (max-width:1200px){
  .add-post-main-container{
    flex-direction: column;
    padding:15px;
    width:95%;
    
  }
  .add-post-main-container > .image-posting-settings-container{
    width:100%;
    position: static;

  }
  .post-title-content-container{
    width:100%;
    padding: 3px;
  }
  .btn{
    width:104px;
  }
}
@media screen and (max-width:900px) {
  .add-post-main-container{
    height: 525px;
    overflow-y: scroll;
    flex-wrap: nowrap;
  }
}