.system-user-main{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.system-user-form-table-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.system-user-form {
  width: 42%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.system-user-form > div > label{
  font-family: 'Times New Roman', Times, serif !important;
  color: #000000;
  text-transform: capitalize;
  font-size: 1rem;

}
.system-user-form > div {
  margin:0 0 10px 0;
}
.system-user-form-controls {
  padding: 8px;
  font-size: 1rem;
  color: #000;
  text-transform: lowercase;
  text-align: left;
}
.days-check-box-container , .hours-check-box-container {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  margin:0 0 29px 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.days-check-box-container-arabic-version{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #ced4da;
    border-radius: 0.375rem;
 /*   margin: 0 0 89px 0 !important;*/
 margin: 0 0 -13px 0 !important;
}
.hours-check-box-container{
  margin: 28px 0 28px 0 !important;
}
.startedAt{
  margin:0 0 29px 0 !important;
}
.hours-check-box-container >  div{
  width: 33.33%;
}
.days-check-box-container > div , .hours-check-box-container >  div{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-align: center;

}
.days-check-box-container-arabic-version > div{
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  text-align: center;
}
.hours-check-box-container >  div{
  padding: 12px;
}
.days-check-box-container > div > label ,  .hours-check-box-container >  div > label{
  font-family: 'Times New Roman', Times, serif !important;
  color: #000000;
  text-transform: capitalize;
  font-size: 1rem;
}
.days-check-box-container > div > check , .hours-check-box-container > div > check{
  display: block;
  margin: auto;
}
.btn {
  width: 135px;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  margin-top: 20px;
  color: #ffffff;
  position: relative;
}
.next-en{
  margin: 0px 0px 0px 3px;
}
.next-ar{
margin:-7px 0px 0px 3px;
}
.previous-en{
 margin: -3px -3px 0px -10px;
}
.previous-ar{

}
.step-button-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
.step-button-container > button {
  width:25% !important;
}
*/
.system-user-data-container{
  width: 56%;
  min-height: 525px;
  padding: 10px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.table-settings-container {
  width: 100%;
  margin: auto;
  background-color: #20aa69;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.table-settings-container > section{
  flex: 0 0 33.33%;
  padding: 5px;
}
.table-settings-container > section > label {
  color: #FFFF;
  font-size: 1rem;
  text-align: left;
}
.table-settings-container > section > label:nth-of-type(2){
  text-align: center;
}
.table-settings-container > section > input , .table-settings-container > section > select {
  padding: 8px 8px;
  height: 40px;
}
.table-settings-container > section:nth-child(3){
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.table-settings-container > section > button {
  
  width:49%;
  border:1px solid #FFFFFF;
}
.table-wrapper {
  width: 100%;
  height: 382px;
  overflow: auto;
  position: relative;
}
.system-accounts-table {
  width: 100%;
  margin: auto;
}
.system-accounts-table,
.system-accounts-table > tr,
.system-accounts-table > tbody > tr > td,
.system-accounts-table > thead > tr >  th {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .5px;
  border:none;
  font-family: 'Times New Roman', Times, serif;
}
.system-accounts-table > thead > tr {
  background-color: #20aa69;
  color: #ffffff;
  position: sticky;
  top: -1px;
}
.system-accounts-table > thead > tr > th{
  border-left: 1px solid #dadada;
}

.system-accounts-table > thead > tr >  th:nth-child(1),.system-accounts-table > thead > tr >  th:nth-child(5){
  border-right: 1px solid #dadada;
}

.system-accounts-table > tbody > tr:nth-child(even) {
  background-color: #dadada;
}
.system-accounts-table > tbody > tr:hover{
  background-color:#20aa69;
  color:#FFFFFF;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  cursor: pointer;
}
.table-wrapper::-webkit-scrollbar {
  width: 15px;
}
.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}

.disabled-btn {
  width: 135px;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  margin-top: 20px;
  color: #ffffff;
  opacity: 0.3;
  cursor:not-allowed !important;
}
.no-result{
  position: absolute;
  top:50%;
  left:50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.errors{
  border-color: #f6003c !important;
}
.errors:focus{
box-shadow:   0 0 0 0.25rem rgba(246,0,60,.25) !important;
border-color: #f6003c !important;

}
input[type="number"]{
  appearance: none;
}
.system-user-steps-circle-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circle{
  width:50px;
  height:50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  padding-top: 11px;
  border:1px solid #dadada;
  aspect-ratio: 1/1;
}
.line{
  width:50px;
  height:3px;
  border-bottom: 2px solid #dadada;
}
.coloredLine{

  border-bottom: 2px solid #198754;
}
.coloredCircle{
  background-color: #198754;
  border:1px solid #198754;
  color: #FFFFFF;
}
.alert-container{
  width:350px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#FFFFFF;
  position: fixed;
  top: 100px;
  right:11px;
  color: #FFFFFF;
  z-index:1500;
}

.alert-container >  img {
  display: block;
  margin: auto;
  width:35%;
  object-fit: scale-down;
}
.alert-container >  span {
  display: block;
  width: 100%;
  font-size: 1rem;
  letter-spacing: .5px;
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  clear: both;
}
.warning-alert{
  padding:15px;
  width:410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.warning-alert > section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding:5px;
}
.warning-alert > section:nth-child(2){
  justify-content: flex-start;
  margin: auto;
}
.warning-alert > section:nth-child(2) > *{
  margin-left: 5px;
  color: #198754;
 /* padding-left: 12px;*/
}
.warning-alert > section > span{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
}
.btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.warning-alert > section > .btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.more-options{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  position: relative;
  flex: 0 0 7%;
  height:30px;
  cursor: pointer;
}
.more-options > span{
    position: absolute;
    top: 24%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
}
.more-option-menu{
  width: 150px;
    height: 79px;
    position: absolute;
    left: 78%;
    z-index: 1;
    top: 11.6%;
    background: #dadada;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pagination-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-container > ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination-container > ul > li:not(.pages-separator){
  flex: 0 0 39px;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background:#198754;
  color: #FFFFFF;
}
.pages-separator{
  flex: 0 0 39px;
  height: 46px;
  cursor: auto;
  color: #FFFFFF;
  background-color: #198754;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  line-height: 1.5;
  box-sizing: border-box;
}
.pagination-container > ul > li:hover:not(.pages-separator){
  background-color: #20aa69 !important;
  transform: scale(1.1,1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #FFFFFF;
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
}
.pagination-container > ul > .btn {
  flex: 0 0 35px;
  height:46px;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  text-align: center;
  border: 1px solid #dadada;
  margin: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  background-color: #198754;
  color:#FFFFFF;
}
.btn > img{
  display: block;
  margin: auto;
  width:20px;
  object-fit: contain;
}
.loading-deletion-spiner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-deletion-spiner-container > section , .loading-deletion-spiner-container > span{
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loading-deletion-spiner-container > span{
  color: #000000;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}
@media screen and (max-width:1060px) {
  .system-user-form-table-container{
    flex-direction: column;
  }
  .system-user-form{
    width: 99%;
    margin: auto;
  }
  .system-user-data-container{
    width:99%;
    margin: 15px auto 0 auto;
  }
  @media screen and (max-width:586px) {
    .table-settings-container > section{
      flex: 0 0 50%;
    }
    .table-settings-container > section:nth-child(3){
      flex: 0 0 100%;
      height:50px;
    }
    .alert-container{
      width:245px ;
    }
    .alert-container > img{
      width:35% ;
    }
    .warning-alert{
      padding:1px;
    }
    .warning-alert > section > span{
      padding-top: 22px;
    }
    .warning-alert > section > .btn{
      width:45%;
      padding:5px;
    }
    .btn{
      width:43%;
    }
    .pagination-container > ul > li {
      flex: 0 0 29px !important;
      padding: 5px !important;
      height: 34px;
      margin: 7px !important;
      }
      .pagination-container > ul > button{
        width:29px !important;
        padding: 5px !important;
        height: 34px !important;
        flex: 0 !important;
      }
      .pages-separator{
        position: relative;
      }
      .pages-separator > span{
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }
}