
.system-user-form {
  width: 45%;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.system-user-form > div {
  margin:0 0 10px 0;
}
.system-user-form-controls {
  padding: 8px;
  font-size: 1rem;
  color: #000;
}
.days-check-box-container , .hours-check-box-container {
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  margin: 15px 0 1px 0;

}
.hours-check-box-container >  div{
  width: 33.33%;
}
.days-check-box-container > div , .hours-check-box-container >  div{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-align: center;

}
.days-check-box-container > div > check , .hours-check-box-container > div > check{
  display: block;
  margin: auto;
}
.btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #038674;
  margin-top: 20px;
  color: #ffffff;
}
.system-user-data-container {
  width: 52%;
  height: 598px;
  padding: 10px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.table-settings-container {
  width: 99%;
  margin: auto;
  background-color: #c2a054;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-bottom: 25px;
}
.table-settings-container > label {
  flex: 0 0 15%;
}
.table-settings-container > input {
  flex: 0 0 30%;
}
.table-settings-container > button {
  flex: 0 0 25%;
}
.table-wrapper {
  width: 99%;
  height: 83%;
  overflow: auto;
  position: relative;
}
.system-accounts-table {
  width: 99%;
  margin: auto;
}
.system-accounts-table,
.system-accounts-table > tr,
.system-accounts-table > tbody > tr > td,
.system-accounts-table > thead > tr th {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  letter-spacing: .5px;
  border:none;
}
.system-accounts-table > thead > tr {
  background-color: #c2a054;
  color: #ffffff;
  position: sticky;
  top: -1px;
}
.system-accounts-table > thead > tr > th{
  border-left: 1px solid #dadada;
}

.system-accounts-table > thead > tr >  th:nth-child(1),.system-accounts-table > thead > tr >  th:nth-child(5){
  border-right: 1px solid #dadada;
}

.system-accounts-table > tbody > tr:nth-child(even) {
  background-color: #dadada;
}
.system-accounts-table > tbody > tr:hover{
  background-color:#c2a054;
  color:#FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  cursor: pointer;
}
.table-wrapper::-webkit-scrollbar {
  width: 20px;
}
.table-wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #038674;
}

.disabled-btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #666666;
  opacity: 0.3;
  cursor:not-allowed !important;
}
.no-result{
  position: absolute;
  top:50%;
  left:50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.errors{
  border-color: #f6003c !important;
}
.errors:focus{
box-shadow:   0 0 0 0.25rem rgba(246,0,60,.25) !important;
border-color: #f6003c !important;

}
input[type="number"]{
  appearance: none;
}
.system-user-steps-circle-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circle{
  width:50px;
  height:50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  padding-top: 11px;
  border:1px solid #dadada;
}
.line{
  width:50px;
  height:3px;
  border-bottom: 2px solid #dadada;
}
.coloredLine{

  border-bottom: 2px solid #038674;
}
.coloredCircle{
  background-color: #038674;
  border:1px solid #038674;
  color: #FFFFFF;
}
.alert-container{
  width:25%;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color:#FFFFFF;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  color: #FFFFFF;
  z-index:1500;
}

.alert-container >  img {
  display: block;
  margin: auto;
  width:35%;
  object-fit: scale-down;
}
.alert-container >  span {
  display: block;
  width: 100%;
  font-size: 1rem;
  letter-spacing: .5px;
  text-transform: capitalize;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  clear: both;
}

