/* .form-check-input{

    margin-left: -100vh;
    
    }
    .form-label{
    
        float: left;
    }
    .formcontrol1{
        float: left;
        margin-bottom: 5%;
        
    }
    .form-label1{
    
        float:left;
    }
    .form-check-label{
    padding-right: 90%;
    
    }
    .btnsubmit{
     background-color: #0d3b39;
     color:#0d3b39 ;
    }
     */