.form-check-input{

margin-left: -100vh;

}
.form-label{

    /* padding-left:160vh; */
    float: left;
}
.formcontrol1{
    float: left;
    margin-bottom: 5%;
    
    
}
.form-label1{

    float:left;
}
.form-check-label{
padding-right: 90%;

}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0d3b39;
    width: 20%;
    height: 150%;
}
.errormessage{

    color: red;
}
.formone{

    margin-right: 5%;
}