.table-settings-container {
  width: 100%;
  margin: auto;
  background-color: #20aa69;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.table-settings-container > section{
  flex: 0 0 50%;
  padding: 5px;
}
.table-settings-container > section > label {
  color: #FFFF;
  font-size: 1rem;
  text-align: left;
}
.table-settings-container > section > input , .table-settings-container > section > select {
  padding: 8px 8px;
  height: 40px;
}
.table-settings-container > section:nth-child(2){
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.table-settings-container > section > button {
  
  width:49%;
  border:1px solid #FFFFFF;
}
  .table-wrapper {
    width: 100%;
    height: 260px;
    overflow: auto;
    position: relative;
  }
  .system-accounts-table {
    width: 100%;
    margin: auto;
  }
  .system-accounts-table,
  .system-accounts-table > tr,
  .system-accounts-table > tbody > tr >  td,
  .system-accounts-table > thead > tr > th {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5px;
    border:none;
    font-family: 'Times New Roman', Times, serif;
  }
  .system-accounts-table > thead > tr {
    background-color: #20aa69;
    color: #ffffff;
    position: sticky;
    top: -1px;
  }
  .system-accounts-table > thead > tr > th{
    border-left: 1px solid #dadada;
  }
  
  .system-accounts-table > thead > tr >  th:nth-child(1),.system-accounts-table > thead > tr >  th:nth-child(5){
    border-right: 1px solid #dadada;
  }
  
  .system-accounts-table > tbody > tr:nth-child(even) {
    background-color: #dadada;
  }
  .system-accounts-table > tbody > tr:hover{
    background-color:#20aa69;
    color:#FFFFFF;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  }
  .table-wrapper::-webkit-scrollbar {
    width: 15px;
  }
  .table-wrapper::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  
  .table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 70px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #198754;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  .btn {
    width: 35%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 8px;
    background-color: #198754;
    margin-top: 20px;
    color: #ffffff;
    border:1px solid #FFFFFF;
  }
  .btn:hover{
    box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  .no-result {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    object-fit: cover;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .empty-data-img {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    object-fit: contain;
    display: block;
  }
  @media screen and (max-width:586px) {
    .table-settings-container > section{
      flex: 0 0 100%;
    }
    
    .table-settings-container > section:nth-child(2){
      flex: 0 0 100%;
      height:50px;
    }
    .table-wrapper{
      height:59%;
    }
    
  }