.table-settings-container {
    width: 99%;
    margin: auto;
    background-color: #c2a054;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #ffffff;
    margin-bottom: 25px;
  }
  .table-settings-container > label {
    flex: 0 0 15%;
    color:#FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    text-transform: capitalize;
    font-size: 1rem;
  }
  .table-settings-container > input {
    flex: 0 0 30%;
  }
  .table-settings-container > button {
    flex: 0 0 25%;
  }
  .table-wrapper {
    width: 99%;
    height: 83%;
    overflow: auto;
    position: relative;
  }
  .system-accounts-table {
    width: 99%;
    margin: auto;
  }
  .system-accounts-table,
  .system-accounts-table > tr,
  .system-accounts-table > tbody > tr >  td,
  .system-accounts-table > thead > tr > th {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5px;
    border:none;
    font-family: 'Times New Roman', Times, serif;
  }
  .system-accounts-table > thead > tr {
    background-color: #c2a054;
    color: #ffffff;
    position: sticky;
    top: -1px;
  }
  .system-accounts-table > thead > tr > th{
    border-left: 1px solid #dadada;
  }
  
  .system-accounts-table > thead > tr >  th:nth-child(1),.system-accounts-table > thead > tr >  th:nth-child(5){
    border-right: 1px solid #dadada;
  }
  
  .system-accounts-table > tbody > tr:nth-child(even) {
    background-color: #dadada;
  }
  .system-accounts-table > tbody > tr:hover{
    background-color:#c2a054;
    color:#FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  }
  .table-wrapper::-webkit-scrollbar {
    width: 15px;
  }
  .table-wrapper::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  
  .table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 70px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #038674;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}
  .btn {
    width: 35%;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 8px 8px;
    background-color: #038674;
    margin-top: 20px;
    color: #ffffff;
  }
  .no-result {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    object-fit: cover;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  .empty-data-img {
    margin: auto;
    padding: 88px;
    display: block;
    background-position: 50% 50%;
  }
  @media screen and (max-width:500px) {
    .table-settings-container{
      flex-direction: column;
    }
    .table-settings-container > * {
      margin:5px 0 5px 0 ;
    }
    .btn{
      width:100%;
    }
    .table-wrapper{
      height:59%;
    }
    
  }