/** @format */

.registration {
  padding: 100px 0 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.registration h2 {
  font-size: 37px;
  color: #bfa155;
  margin-bottom: 45px;
}
.registration h2 span {
  color: #038674;
  border-bottom: 1px solid #038674;
  padding-bottom: 5px;
}
.label {
  font-size: 17px;
  color: #bfa155;
  margin-top: 5px;
  margin-bottom: 5px;
}
.registration input {
  font-size: 16px;
  border: 1px solid #c1a153;
  color: #bfa155;
}
.registration .inputtype:focus {
  color: #bfa155;
  background-color: #fff;
  border-color: #c1a153;
  box-shadow: none;
}
.registration .checklabel {
  color: #c1a153;
  margin-bottom: 22px;
}

.registration ::placeholder {
  color: #bfa155;
  opacity: 0.5; /* Firefox */
}
.registration .checkContainer {
  border: 1px solid #949e9d;
  padding: 17px 22px 0;
  margin-bottom: 16px;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bfa155;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bfa155;
}
.registration button {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  border: none;
  background: #038674;
  margin-top: 10px;
}
.registration button:hover {
  background-color: #038674;
}
.registration button:active {
  background-color: #038674;
}
.registration button:focus {
  box-shadow: none;
  background-color: #038674;
}
.registration div {
  font-size: 13px;
  color: #ab0303;
}

@media (max-width: 769px) {
  .registration {
    margin-left: 0;
    margin-right: 0;
  }
}