/** @format */

.Navbar {
  direction: ltr;
  padding: 0;
  box-shadow: 0 3px 5px #80808029;
  background: white;
}
.NavbarBrand {
  padding-top: 0;
  padding-bottom: 0;
}

.logo {
  height: 85px;
}

@media screen and (max-width: 300px) {
  .logo {
    height: 60px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
.link {
  color: #01332c !important;
  font-size: 18px !important;
  font-weight: 500;
  text-decoration: none;
  margin: 0 16px;
  transition-duration: 0.1s;
}
.link:hover {
  color: #01332c;
  transform: translateY(-2px);
  border-bottom: 3px solid #f2c667;
}
.button {
  background: #038674;
  color: white;
  border: none;
  font-size: 16px;
}

.button:hover {
  background: #026154;
}
.button:focus {
  box-shadow: none;
  background: #038674;
}
.button:focus-visible {
  overflow: hidden;
  border: none;
}
.button:first-of-type {
  margin-right: 6px;
  text-transform: capitalize;
}
@media screen and (max-width: 991px) {
  .link{
    padding-inline-start: 9px;
  }
  .link:hover {
    color: #01332c;
    transform: none;
    border-inline-start: 3px solid #f2c667;
    margin-inline-end: 16px;
    border-bottom: none;
  }
}
