.footer {
  background: url(../../assets/images/footer.webp) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  margin-top: 65px;
  text-align: center;
  direction: ltr;
  overflow-x: hidden;
}
.footer .innerfooter {
  background: rgb(0 0 0 / 90%);
  color: #eee;
  padding-top: 60px;
  min-height: 300px;
  padding-bottom: 40px;
}
.footer .innerfooter h4 {
  color: #c2a556;
  margin-bottom: 20px;
}
.link {
  text-decoration: none;
  color: white !important;
  display: block;
  font-size: 18px;
}
.hoverable:hover {
  color: #c2a556;
}
.logo {
  /* height: 155px;*/
  margin-top: -45px;
  width: 221px;
}
@media screen and (max-width: 230px) {
  .logo {
    width: min(100%, 221px);
  }
}
.social {
  display: flex;
  margin: 12px;
  justify-content: space-evenly;
}
.socialicon {
  font-size: 27px;
  color: #7a7171;
}
.socialicon :hover {
  color: white;
}
.Ratelfooter {
  font-size: 19px;
  color: white;
}
.Ratelcopyright {
  color: #7a7171;
  margin-top: 12px;
}
