/** @format */

.keepin {
  text-align: center;
  margin-top: 85px;
}
.keepin h2 {
  color: #038674;
  margin-bottom: 22px;
}
.keepin h4 {
  color: #038674;
  margin-bottom: 22px;
}
.keepinput Form {
  display: flex;
  justify-content: center;
}
.keepin input {
  border-radius: 0;
  margin-right: -5px;
  font-size: 20px;
  width: 265px;
}
.keepin button {
  height: 44px;
  border-radius: 0;
  font-size: 20px;
  padding: 4px;
}
.keepin button:focus,
.keepin input:focus {
  box-shadow: none;
}
