/** @format */

.keepin {
  text-align: center;
  margin-top: 85px;

}
.keepin h2 {
  color: #038674;
  margin-bottom: 22px;
}
.keepin h4 {
  color: #038674;
  margin-bottom: 22px;
  min-width: 120px;
  width: 100%;
  min-width: 120px;
}
.keepinput Form {
  display: flex;
  justify-content: center;
}
.keepin input {
  border-radius: 8px 0px 0px 8px;
  margin-inline-end: -5px;
  font-size: 20px;
  width: calc(100%-40px);
  min-width: 120px;
}
.keepin button {
  height: 44px;
  border-start-start-radius: 0;
  border-start-end-radius: 8px;
  border-end-end-radius: 8px;
  border-end-start-radius: 0;
  font-size: 18px;
  padding: 4px 12px;
}
.keepin button:focus,
.keepin input:focus {
  box-shadow: none;
}
