
.post-main-container{
    width:100%;
    position: relative;
    border-bottom: 2px solid rgba(237, 236, 236, 0.8);
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
/* .post-main-container:first-child{
     border-bottom: none; 
} */
.post-main-container >  div {
    flex: 0 0 70%;
    padding: 10px;
    height: 294.097px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.post-image{
    width: 30%;
    height: 294.047px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-position: center center;
    background-size: contain;
}
.latest-post{
    position: absolute;
    top: 28px;
    left: 28px;
    width: 100px;
    background: #f9c324;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
    border-radius: 5px;
    color: #FFFFFF;
}
.post-header{
    width: 100%;
    padding: 15px 0 0 43px;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: .5px;
    word-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 16px;
}
.post-details{
    width: 95%;
    height: 200px;
    text-align: start;
    line-height: 2.5;
    white-space: pre-line;
    cursor: "pointer";
    text-overflow: ellipsis;
    letter-spacing: .5px;
    word-spacing: 1px;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.read-more{
    text-decoration: none;
    color:black;
    transition-duration: .3s;
}
.three-dot-more{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #f9c324;
}
.read-more:hover{
    opacity: .85;
    color:black;
}

.post-date{
    text-transform: capitalize;
    font-size: 1rem;
    color: rgba(49,49,49,.8);
    padding-inline: 6px;
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
}

@media screen and (max-width:988px){
    .post-main-container{
        flex-direction: column;
    }
    .post-image{
        width:99%;
        background-position: center center;
        object-fit: cover;
    }
}
@media screen and (max-width:680px){
    .post-details{
        width:99%;
    }
    .post-main-container{
        padding:0;
    }
    .post-header{
        padding-left: 9px;
    }
}
