
.post-main-container{
    width:100%;
    position: relative;
    border-bottom:1px solid rgba(49,49,49,.8);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.post-main-container >  div {
    flex: 0 0 70%;
    padding: 10px;
    height: 294.097px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.post-image{
    width: 30%;
    height: 294.047px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-position: center center;
    background-size: contain;
}
.latest-post{
    position: absolute;
    top: 22px;
    left: 22px;
    width: 100px;
    background: red;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 3px;
    border-radius: 5px;
    color: #FFFFFF;
}
.post-header{
    width: 100%;
    padding: 15px 0 0 43px;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: .5px;
    word-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 16px;
}
.post-details{
    width: 95%;
    text-align: justify;
    text-transform: capitalize;
    line-height: 2.5;
    letter-spacing: .5px;
    word-spacing: 1px;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.read-more{
    margin-left: 15px;
    font-weight: bold;
    color: #f6003c;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
}

.post-date{
    text-transform: capitalize;
    font-size: 1rem;
    color: rgba(49,49,49,.8);
}

@media screen and (max-width:988px){
    .post-main-container{
        flex-direction: column;
    }
    .post-image{
        width:99%;
        background-position: center center;
        object-fit: cover;
    }
}
@media screen and (max-width:680px){
    .post-details{
        width:99%;
    }
    .post-main-container{
        padding:0;
    }
    .post-header{
        padding-left: 9px;
    }
}
