.post-details-main-container {
  width: 100%;
  padding: 20px;
  position: relative;
}
.post-image-details {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}
.post-details-title {
 /* width: 40%;*/
  width: fit-content;
  height: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  background-image: linear-gradient(to bottom,rgb(244, 244, 244),white);
  transform: translateY(-32px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
.post-details {
  width: 100%;
  padding: 20px;
}
.post-paragarph {
  white-space: pre-line;
  width: 100%;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  background-color: #ffffff;
  line-height: 2.5;
}
.btn {
  width: 170px;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  margin-top: 20px;
  color: #ffffff;
}
.btn:hover{
  color: white;
}
.latest-post-badge {
  position: absolute;
  top: 5%;
  background: #f9c324;
  width: 90px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  text-transform: capitalize;
  left: 1%;
}
/*
@media screen and (max-width:1115px) {
  .post-details-title{
    top:40%
  }
  .post-paragarph{
    margin-top: 42px;
  }
}
@media screen  and (max-width:998px){
  .post-details-title{
    top:39%
  }
}
*/
@media screen and (max-width:1115px) {
  .post-details-title{
    width:80%;
  }
}
