.post-details-main-container {
  margin: 8px auto;
  width: 100%;
  padding: 20px;
  position: relative;
}
.post-image-details {
  border-radius: 16px 16px 0px 0px;
  
  width: 100%;
  height: 350px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
}
.post-details-title {
  width: 50%;
  height: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  top: 45%;
  left: 26%;
  box-sizing: border-box;
  padding-top: 37px;
  background: #ffffff;
}
.post-details {
  width: 100%;
  padding: 20px;
}
.post-paragarph {
  width: 100%;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-transform: capitalize;
  margin-top: 30px;
  background-color: #ffffff;
}
.btn {
  width: 12%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #038674;
  margin-top: 20px;
  color: #ffffff;
}
.latest-post-badge {
  position: absolute;
  top: 5%;
  background: #f6003c;
  width: 90px;
  height: 25px;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  text-transform: capitalize;
  left: 1%;
}
