.students{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
}
.students > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.students > div + div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.pagination-container > ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pagination-container > ul > li:not(.pages-separator){
    flex: 0 0 39px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #dadada;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    background:#198754;
}
.pages-separator{
    flex: 0 0 39px;
    height: 46px;
    cursor: auto;
    color: #FFFFFF;
    background-color: #198754;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 1px solid #dadada;
    margin: 10px;
    border-radius: 5px;
    line-height: 1.5;
    box-sizing: border-box;
}
.pagination-container > ul > li:hover:not(.pages-separator){
    background-color: #20aa69 !important;
    transform: scale(1.1,1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFFFFF;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.btn {
    flex: 0 0 35px;
    height:46px;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: center;
    border: 1px solid #dadada;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    background-color: #198754;
    color:#FFFFFF;
  }
  .btn > img{
    display: block;
    margin: auto;
    width:20px;
    object-fit: contain;
  }
  @media  screen and (max-width:1200px) {

    .students > div + div{
        flex-direction: column;
        
    }
  }
  @media screen and (max-width:486px) {
    .pagination-container > ul > li {
      flex: 0 0 29px !important;
      padding: 5px !important;
      height: 34px;
      margin: 7px !important;
      }
      .pagination-container > ul > button{
        width:29px !important;
        padding: 5px !important;
        height: 34px !important;
        flex: 0 !important;
      }
      .pages-separator{
        position: relative;
      }
      .pages-separator > span{
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  }