body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav {
  height: 34px !important;
}
.form-check-input:checked {
  background-color: #1c9c60 !important;
  border-color: #1c9c60 !important;
}
.form-check-input:focus {
  box-shadow: #1c9c60a9 !important;
}
*::selection{
  background-color: #1c9c60 !important;
  color: white !important;
}
.dropdown-item:active{
  background-color: #03867468 !important;
  color: white !important;
}

@media screen and (max-width: 991px) {
  #navbarScroll {
    padding-bottom: 16px;
  }
  .Navbar_link__JytJx {
    margin-bottom: 8px !important;
  }
}
