/** @format */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Kufi Arabic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav {
  min-height: 36px !important;
}
.form-check-input:checked {
  background-color: #1c9c60 !important;
  border-color: #1c9c60 !important;
}
.form-check-input:focus {
  box-shadow: #1c9c60a9 !important;
}
.accordion-button {
  color: grey !important;
}
:root {
  --bs-blue: #198754 !important;
  --bs-primary: #198754 !important;
}
*::selection {
  background-color: #1c9c60 !important;
  color: white !important;
}
.dropdown-item:active {
  background-color: #03867468 !important;
  color: white !important;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    min-height: 180px !important;
  }
  #navbarScroll {
    padding-bottom: 16px;
  }
  .Navbar_link__JytJx {
    margin-bottom: 8px !important;
  }
}
