/** @format */
.Carousel {
  margin-top: 0px;
}
.CarouselItem {
  height: calc(100vh);
  min-height: 288px;
  background-size: cover;
  background-repeat: no-repeat;
}
.CarouselItem:nth-of-type(1) {
  background-image: url('../../assets/images/slider1.webp');
}
.CarouselItem:nth-of-type(2) {
  background-image: url('../../assets/images/slider2.webp');
}
.CarouselItem:nth-of-type(3) {
  background-image: url('../../assets/images/slider3.webp');
}

.CarouselItem h2 {
  font-size: 45px;
}
.CarouselItem img {
  max-height: 571px;
}

.CarouselItem p {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 20px;
}
.CarouselItem span {
  margin-bottom: 10px;
}
.Caption {
  color: white;
  z-index: 2;
  position: absolute;
  right: 15%;
  bottom: 15%;
  top: 25%;
  left: 15%;
  color: #fff;
  text-align: center;
  color: #c2a054;
}
@media (max-width: 768px) {
  .CarouselItem h2 {
    font-size: 30px;
  }
  .CarouselItem p {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .CarouselItem span {
    font-size: 15px;
  }
}
/* @media (max-width: 576px) {
  .Caption {
    display: none;
  }
} */
