
.instructor-work-history-main-container {
  width: 45%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 471px;
  padding: 10px;
  position: relative;
}

.settings-header {
  width: 100%;
  padding: 10px;
  background-color: #c2a054;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.students-data-tap,
.sessions-data-tap,
.evaluations-data-tap {
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #038674;
  padding: 10px;
  cursor: pointer;
}
.taps-shadow {
    box-shadow: -12px 2px 12px 0px rgb(0 0 0 / 53%);
}
.empty-data-img {
  margin: auto;
  padding: 88px;
  display: block;
  background-position: 50% 50%;
}
.students-content-tap{
  width:100%;
  height:80%;
  position: relative;
  margin-top:13px
}
.instructor-working-date-time-tap{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
