
.instructor-work-history-main-container {
  width: 45%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 471px;
  padding: 10px;
  position: relative;
}

.settings-header {
  width: 100%;
  padding: 10px;
  background-color: #c2a054;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.students-data-tap,
.sessions-data-tap,
.evaluations-data-tap,
.workingDateAndOursTap,
.sessions-schedule-data-tap {
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #038674;
  padding: 10px;
  cursor: pointer;
}
.taps-shadow {
    box-shadow: -12px 2px 12px 0px rgb(0 0 0 / 53%);
}
.empty-data-img {
  margin: auto;
  padding: 88px;
  display: block;
  background-position: 50% 50%;
}
.students-content-tap{
  width:100%;
  height:80%;
  position: relative;
  margin-top:13px
}
.instructor-working-date-time-tap{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #038674;
  color: #ffffff;
}
.sessions-more-info-settings{
  width:100%;
  margin:10px auto;
  padding:10px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  background-color:#c2a054 ;
}
.sessions-more-info-settings > section > label{
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}
.sessions-more-info-settings> section{
  flex: 0 0 18%;
}
.sessions-more-info-settings> section:nth-child(3){
    flex: 0 0 42%;
    height: 75px;
    box-sizing: border-box;
    padding-top: 36px;
}
.sessions-more-info-settings> section > .form-sort-select ,.sessions-more-info-settings> section >input[type='date'] {
 width: 97%;
  text-align: justify;
  cursor: pointer;
}
.sessions-more-info-settings> section > button {
  width:48.33%;
  margin-left: 3px;
}
.sessions-main-info-container{
  width:100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 271px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}
.sessions-main-info-container > div{
  flex: 0 0 48%;
  height: 172px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5px;
  padding: 10px;
  background-color: #038674;
}
.sessions-main-info-container > div > span{
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
}
.sessions-main-info-container > div > span:nth-child(2){
  padding-top:28px;
  font-size: 2rem;
  font-weight: bold;
}
