
.instructor-work-history-main-container {
  width: 45%;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 471px;
  padding: 10px;
  position: relative;
}

.settings-header {
  width: 100%;
  padding: 10px;
  background-color: #20aa69;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.students-data-tap,
.sessions-data-tap,
.evaluations-data-tap,
.workingDateAndOursTap,
.sessions-schedule-data-tap {
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #ffffff;
  background-color: #198754;
  padding: 10px;
  cursor: pointer;
}
.taps-shadow {
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, .6);
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
}
.empty-data-img {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  object-fit: contain;
  display: block;
}
.no-sessions{
  width:100%;
  height:100%;
}
.no-sessions > span{
  width:100%;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 65%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  object-fit: cover;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.students-content-tap{
  width:100%;
  height: 365px;
  position: relative;
  margin-top:13px
}
.instructor-working-date-time-tap{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.instructor-working-date-time-tap::-webkit-scrollbar {
  width: 15px;
}
.instructor-working-date-time-tap::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.instructor-working-date-time-tap::-webkit-scrollbar-thumb {
  border-radius: 70px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #198754;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
}
.btn {
  width: 35%;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 8px 8px;
  background-color: #198754;
  color: #ffffff;
  border:1px solid #FFFFFF;
}
.btn:hover{
  box-shadow: inset  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.sessions-more-info-settings{
  width:100%;
  margin:10px auto;
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  background-color:#20aa69 ;
}
.sessions-more-info-settings > section > label{
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}
.sessions-more-info-settings> section{
  flex: 0 0 33.33%;
  padding:5px;
}
.sessions-more-info-settings> section:nth-child(3){
    height: 85px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.sessions-more-info-settings> section > button {
    width:49%;
}
.sessions-main-info-container{
  width:100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 271px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

}
.sessions-main-info-container > div{
  flex: 0 0 50%;
  height: 172px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5px;
  padding: 10px;
  background-color: #198754;
}
.sessions-main-info-container > div > span{
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #ffffff;
}
.sessions-main-info-container > div > span:nth-child(2){
  padding-top:28px;
  font-size: 2rem;
  font-weight: bold;
}
@media screen  and (max-width:1200px){
  .instructor-work-history-main-container{
    order:2;
    width:100%;
    margin-top: 30px;
  }
@media screen and (max-width:586px) {
  .empty-data-img {
    top:76%;
  }
  .no-result{
    top:75%;
  }
  .no-sessions > span{
    top:90%;
  }
  .instructor-work-history-main-container{
    margin-top:30px;
  }
  /*
  .settings-header{
    flex-direction: column;
    padding:10px;
  }
  */
  .sessions-more-info-settings> section{
    flex: 0 0 50%;
    width: 50%;
  }
  .sessions-more-info-settings> section:nth-child(3){
    flex: 0 0 100%;
    height:53px;
  }
  .settings-header > *{
    margin:5px 0 5px 0;
  }
  .students-data-tap,.sessions-data-tap{
    flex: 0 0 50%;
  }
  .workingDateAndOursTap,.sessions-schedule-data-tap{
    flex: 0 0 68%;
  }
  .sessions-schedule-data-tap{
    flex: 0 0 32%;
  }
  .students-content-tap{
    height:513px;
  }
  .sessions-main-info-container{
    flex-direction: column;
  }
  .sessions-main-info-container > div{
    width:100%;
    margin:0 0 4px 0;
  }
  
}
}
