.quran-surah-settings{
    width: 92%;
    height: 50px;
    background-color: #fff1ac;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:30px  auto 0 auto;
    padding: 20px;
    direction: rtl;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-color: #038674;
    color: white;
    user-select: none;
}
.quran-surah-settings > div{
    flex: 0 0 33.33%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.quran-surah-settings > div > select{
    width: max(60%,fit-content);
    min-width: fit-content;
    max-width: 260px;
    outline-color: black;
    font-size: 1.2rem;
    text-align: start;
    appearance: button;
    background-image: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.quran-ayat-main-container > span{
    line-height: 2.5;
    font-size: 1.2rem;
}
.quran_board_main{
    max-width: 1300px;
    margin-inline: auto;
}
