/** @format */
.programs {
  text-align: center;
  margin-top: 100px;
}
.programs h2 {
  margin-bottom: 50px;
  color: #bba04c;
}
.ProgramCard {
  box-shadow: 0 0 19px rgb(0 0 0 / 16%);
  border-radius: 6px;
  margin: 0px 20px 40px;
  padding-bottom: 22px;
  transition-duration: 0.4s;
}
.ProgramCard button {
  border: 2px solid #038674;
  background: none;
  border-radius: 14px;
  font-size: 19px;
  padding: 5px 10px;
  color: #038674;
}
.ProgramCard button:hover {
  color: white;
  background-color: #038674;
}
.ProgramCard h4 {
  color: #c8ae6f;
  margin: 30px 0;
}
.programImage img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  opacity: 0.7;
  transition-duration: 0.4s;
}
.ProgramCard:hover img {
  opacity: 1;
}
.ProgramCard:hover {
  transition-duration: 0.4s;
  transform: scale(1.05);
}
