/** @format */
.programs {
  text-align: center;
  margin-top: 100px;
}
.programs h2 {
  margin-bottom: 50px;
  color: #bba04c;
}
.ProgramCard {
  /* box-shadow: 0 0 19px rgb(0 0 0 / 16%); */
  box-shadow: rgba(0, 0, 0, 0.10) 1px 1.95px 2.6px 1px;
  border-radius: 6px;
  margin: 0px 20px 40px;
  padding-bottom: 22px;
  transition-duration: 0.4s;
}
.ProgramCard button {
  border: 1px solid #d3b457b0;
  /* border: none; */
  background: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 0.831);
  background-color: white;
  transition-duration: 0.2s;
}
.ProgramCard button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px inset;
}
.ProgramCard h4 {
  color: #c8ae6f;
  margin: 30px 0;
}
.programImage img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  opacity: 0.7;
  transition-duration: 0.4s;
}
.ProgramCard:hover img {
  opacity: 1;
}
.ProgramCard:hover {
  transition-duration: 0.4s;
  transform: scale(1.05);
}
